/* Button Purple */

.btn {
    display: flex;
    justify-content: center;
    transition: transform 200ms;

    &__purple {
        @include btn-purple;
        @include shadow;

        &:hover {
            @include zoom;
        }
    }
}

// /* Icon Heart */

.icon-heart i {
    font-size: 35px;
    color: black;
    cursor: pointer;
    padding: inherit;

    &:hover {
        animation: fill 0.9s ease-in-out;
        display: inline-block;
        color: balck;
        background: linear-gradient(to top left, $primary-color, $secondary-color);
        background: -webkit-linear-gradient(to top left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}

@keyframes fill {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}