/* Button Purple */

.explore {
    text-align: center;
    padding: 25px;
    background-color: $light-main-color;

    &__container {
        @include container;
    }

    &__btn {
        display: flex;
        justify-content: center;
        transition: transform 200ms;

        &__purple {
            @include btn-purple;
            @include shadow;

            &:hover {
                @include zoom;
            }
        }
    }
}


/* Icon Heart */



.icon-heart {

    font-size: 35px;
    
    cursor: pointer;
    position: relative;
    

    &::before {
        content: "\f004";
        font-family: fontAwesome;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 36px;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
        background: linear-gradient(to left, $primary-color, $secondary-color);
        background: -webkit-linear-gradient(to left, $primary-color, $secondary-color);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;

    }

    &:hover::before {
        height: 100%;
        
    }

    & i {
        font-size: auto;
        color: inherit;
        width: 100%;
    }

}