/* Cards Page d'accueil */


.cards-restaurants {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 30px;
    background: #FFFFFF;
    @include shadow;
    border-radius: 5%;

    @include tablet {
        flex: 0 0 47%;
    }

    @include desktop {
        flex: 0 0 48%;
    }

    &__link {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    &__image {
        border-radius: 5% 0 0;
        overflow: hidden;
        height: 225px;

        & img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }

        & span {
            visibility: hidden;
        }

        &--tagline {
            position: relative;

            & span {
                visibility: visible;
                position: absolute;
                top: 30px;
                right: 15px;
                display: inline-block;
                background: $tertiary-color;
                color: $dark-tertiary-color;
                padding: 10px 20px;
                font-weight: bold;
                font-size: 20px;
                border-radius: 5%;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5%;
        max-width: 100%;
        height: auto;

        &__name {
            display: block;
            justify-content: center;
        }

        &__notation {
            padding: 15px;

        }
    }
}

/* Cards menu */

.menu {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 3rem;



    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        border-radius: 17px;
        padding: 0;
        margin-bottom: 1rem;
        overflow: hidden;
        animation: slideDown 3s ease-out 1s normal both;
        animation-timing-function: cubic-bezier(.5, 1.58, .34, .82);
        animation-fill-mode: both;
        transform: translateY(-53px);
        @include shadow;

        &__text {
            width: 100%;
            max-width: 80%;
            display: flex;
            flex-wrap: wrap;
            padding: 3%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;


            &>* {
                margin: 0;
                padding: 0%;
            }

        }

        &__price {
            float: right;
            right: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 3%;
            transform: translateX(50px);
            transition: all .5s ease;
        }

        &__icon {
            width: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $tertiary-color;
            border-radius: 0 17px 17px 0;
            transform: scaleX(0);
            transition: all .5s ease 0ms;
            padding: 0;
            visibility: hidden;
            opacity: 1;
            transform-origin: right;

            & i {
                color: $tertiary-color;
                background-color: white;
                border-radius: 50%;
                padding: 5%;

            }
        }
        
        &:hover {
            cursor: pointer;

            .menu__content__price {
                transform: translateX(0);
                transition: all .5s ease;

            }

            .menu__content__icon {
                visibility: visible;
                transform-origin: right;
                opacity: 1;
                transform: scaleX(1);
                // animation: translate-left 0.5s linear;
            }

            i {
                animation: tourne 0.9s;
            }

        }

        &--delay-1 {
            animation-delay: 100ms;
        }

        &--delay-2 {
            animation-delay: 250ms;
        }

        &--delay-3 {
            animation-delay: 500ms;
        }

        &--delay-4 {
            animation-delay: 750ms;
        }
    }
}

@keyframes slideDown {
    from {
        transform: translateY(10px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes tourne {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes translate-left {
    0% {
        transform: scaleX(0);
    }

    10% {
        transform: scaleX(0.1);
    }

    20% {
        transform: scaleX(0.2);
    }

    30% {
        transform: scaleX(0.3);
    }

    40% {
        transform: scaleX(0.4);
    }

    50% {
        transform: scaleX(0.5);
    }

    60% {
        transform: scaleX(0.6);
    }

    70% {
        transform: scaleX(0.7);
    }

    80% {
        transform: scaleX(0.8);
    }

    90% {
        transform: scaleX(0.9);
    }

    100% {
        transform: scaleX(1);
    }
}