.cards-restaurants {
    max-width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 30px;
    background: #FFFFFF;
    @include shadow;
    border-radius: 5%;

    @include tablet {
        width: 350px;
    }

    &__link {
        width: 100%;
        height: auto;
        margin-bottom: 0;
    }

    &__image {
        border-radius: 5% 0 0;

        overflow: hidden;
        height: 225px;
        // border-radius: calc(var(--curve)*1px); définir curve

        & img {
            width: 100%;
            height: 100%;
            border-radius: 20px 20px 0 0;
        }

        & span {
            visibility: hidden;
        }

        &--tagline {
            position: relative;

            & span {
                visibility: visible;
                position: absolute;
                top: 30px;
                right: 15px;
                display: inline-block;
                background: $tertiary-color;
                color: $dark-tertiary-color;
                padding: 10px 20px;
                font-weight: bold;
                font-size: 20px;
                border-radius: 5%;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 5%;
        max-width: 100%;
        height: auto;

        &__name {
           display: block;
           justify-content: center;
        }

        &__notation {
            padding: 15px;

            & i {
                font-size: 35px;
                color: black;
                
            }
        }
    }
}