@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
    width: 100%;
}

h3 {
    color: black;
    font-size: 20px;


}

.header p {
    color: black;
    font-size: 20px;

}

/* Page Menu */


.container__menu {
    h3 {
        font-family: "Shrikhand", sans-serif;
        font-size: 30px;
        font-weight: 500;
    }

    h4 {
        text-transform: uppercase;
        font-weight: 500;
        border-bottom: 3px solid $tertiary-color;
        padding-bottom: 5px;
        width: 10%;
    }

    h5 {
        font-size: 18px;
        width: 100%;
        height: auto;
        max-height: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        margin: 0;
        padding: 0;
    }

    p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 16px;
        margin: 0;
        padding: 0;
    }

    span {
        font-weight: bold;
    }

    @include desktop {
        p {
            font-size: 16px;
        }
    }

    @include tablet {
        h4 {
            font-size: 16px;
        }

        h5 {
            font-size: 14px;
        }

        p{
            font-size: 12px;
        }

        span {
            font-size: 12px;
        }
    }
}