/*colors-variables*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$dark-tertiary-color: darken($tertiary-color, 38%);

/*background-color*/
$base-color: grey;
$light-header-color: lighten(grey, 38%);
$dark-main-color: darken(grey, 30%);
$light-main-color: lighten(grey, 45%);

/*hover-btn-explore*/
$color-hover: lighten($primary-color, 35%);

/*breakpoints*/
$breakpoints: (
    desktop: 1200px,
    tablet: 860px,
);

