.main--menu {
    position: relative;
   

    .menu-cover {
        position: relative;
    }

    .container__menu {
        width: 100%;
        position: absolute;
        float: top;
        top: 75%;
        border-radius: 3rem 3rem 0 0;
        background-color: white;

        &__title {
            width: 100%;
            padding: 15px;
        }
        
    }
}