.explore {
    text-align: center;
    padding: 25px;
    background-color: $light-main-color;

    &__btn {
        display: flex;
        justify-content: center;
        transition: transform 200ms;

        &__purple {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 220px;
            height: 50px;
            margin-bottom: 30px;
            border-radius: 30px;
            background-image: linear-gradient(to top left, $primary-color, $secondary-color);
            transition: transform 500ms;
            color: white;
            font-weight: bold;
            @include shadow;

            &:hover {
                @include zoom;
            }
        }
    }
}